* {
    margin: 0;
    padding: 0;
}

/* body{
    width: 85vw;
} */

#header-container {
    display: flex;
    background-color: #a2d2ff;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}


#header-container header h1{
    text-align: center;
    font-size: 1.9rem;
    padding: 5px 0;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #header-container header h1{
        font-size: 1.2rem;
    }
    }
    
  /*  @media screen and (min-device-width : 481px) and (max-device-width : 800px) {
     tablets 
    }*/